
:root {
	--color-offwhite: #f4f4f4;
	
    --color-main-light: #cbebf9;
    --color-main-medium: #2592c3;
    --color-main-dark: #052b3c;
}

body {
	background-color:var(--color-offwhite);
	padding-bottom:10em;
}





.favorite label {
	transition: all 0.3s;
	display:inline-block;
	transform: scale(1,1);
	color:var(--color-neutral-medium);
}
.favorite input:checked + label {
	color:red;
	transform:scale(1.5,1.5);
}






@media (max-width:800px) {
	.container {
		padding-left:1em;
		padding-right:1em;
	}
	.navbar h1 {
		padding-left:0.5em;
	}
}
@media (max-width:400px) {
	.navbar .display-flex {
		display:block;
	}
	.navbar .nav li {
		line-height:2em;
	}
}